<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/buttonorders.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  </head>

  <body>

      <!-- Navigation Bar  -->
    <%- include('partials/_navbar') %>


      <!-- Main content container  -->
      <main class="content-container">

         <!-- Photo Div -->
        <section>
          <img src= '/images/Poutine-Header.png'  alt="Header Image" width= "100%" />
        </section>

          <!-- Menu Div -->
        <section class="menu">
              <%for(let item of templateVar){%>
              <div class= "menu-box">
                <div class= "menu-item menu-left" >
                   <p class= "title"><%=item.name%></p>
                   <p class= "description"><%=item.description%></p>
                   <div class="foot">
                    <p> $<%=item.price /100%> </p>
                    <button class="order-button">ORDER</button>
                   </div>
                  </div>
                <div class= "menu-item menu-right" >
                  <img class= "menu-itemimage" src="<%= item.imgurl %>" alt= "">
                </div>
              </div>
              <%}%>
        </section>
      </main>
  </body>
</html>
