<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


  </head>


  <body>
    <script type="text/javascript" src="/scripts/timer.js"></script>


    <%- include('partials/_navbar') %>



    <%for(let item of orders){%>



      <section id="order">

           <section class="order-summary">
            <!-- <p class="header-size">Thank you for your order</p>
                <p class="number">Order Status</p>
                <p class="col-12 text-center"> Get your poutine within 25 minutes or less.
                   If we're lying, we're buying!</p>
                <h4><%=item.order_status%></h4>
                <p class="number">Time</p>
                <!-- timer function  -->
                <!-- <h4><%=item.order_begin%> </h4>
                <p class="number">SubTotal</p>
                <h4>$ <%=item.total_price/100%> </h4> -->

                <!-- test  -->
                <div class="btn from-top">Thank you for your order</div>
                <div class="btn from-left">Get your poutine within 25 minutes or less.
                  If we're lying, we're buying</div>
                <div class="btn from-right"><%=item.order_status%></div>
                <div id="countdown-timer" class="btn from-center"> </div>
                <div class="btn from-bottom">$ <%=item.total_price/100%> </div>
             </section>


      <%}%>

  </body>
</html>
